.item-details-container {
    margin: 0;
    border: 1px solid #444;
}

.item-details-img {
    max-width: 250px;
    max-height: 250px;
    margin-right: 1rem;
    border-radius: 10px;
}

.item-details-body {
    padding: .25rem;
}

.item-details-body-characters {
    padding: 0;
}