.navbar-brand {
    font-size: 80px;
    margin: 0;
}

.nav-pills {
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
}

.nav-pills .nav-item:hover {
    background-color: #1b4f72;
}

@media screen and (max-width: 768px){
    .navbar-brand {
        flex-basis: 100%;
        text-align: center;
    }
    .nav-pills {
        flex-direction: column;
        flex-basis: 100%;
    }
}